
.app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: auto;
    background-color: azure;
    width: auto;
    max-width: 1200px;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.select-pokemon-types {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.select-pokemon-types .pokemon-types{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.select-pokemon-types .select-type {
    padding: 5px;
}


.pokemon-results {
    background-color: blue;
}